@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Neonderthaw&family=Nunito&display=swap');

body {
  font-family: 'Nunito', cursive;
  margin: 0;
  background-color: #FFF7E9;
}

.main-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: fit-content;
}

.header-container {
  background-color: #FF731D;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  width: 98%;
  margin: 10px;
  border-radius: 1em;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 5px 5px;
}

.header-emoji {
  height: 110px;
  width: 110px;
}

.header-title {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  margin: 0;
}

.header-description {
  color: white;
  text-align: center;
  margin: 0;
}


.content-container {
  display: flex;
  margin: 15px;
  margin-top: 5px;
}

.right-side-content
{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin-left: 265px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* remove the border around the content */
  border: none;
  border-radius: 1em;
}

.card-header
{
  width: 100%;
  background-color: #FFF7E9;
  border: none;
  border: #FFF7E9 solid 1px;
  border-radius: 2em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

#card-tabs > *
{
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
}



.sommaire
{
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphics
{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 1em;
}

/*
.counts
{
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;  color : black;
} 
*/

.graph
{
  color : black;
  width: 100%;
  height: 100%;
}

.container > *
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container > * > *
{
  margin: 10px;
  border-radius: 2em;
  border: 1px solid #FFF7E9;
  padding: 10px;
  background-color: #FFF7E9;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.btn-group
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-outline-info{
  margin-top: 15px;
  width: 100%;
  border-color: white;
  background-color: white;
  color: black;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-group .btn-outline-info:hover{
  background-color: #FF731D;
  border: 1px solid #FF731D;
  color: white;
}


.parametre
{
  /* place the first card in the first column and first row */
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center; 
  border-radius: 1em;
  width: 250px;
  height: 500px;
  /* fix this card to the right side of the page */
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-top: 130px;
}

